name: DocSearch Scraper

# Define the triggering conditions for the workflow
on:
  deployment
  /*
  # Allow manual triggering of the workflow
  workflow_dispatch:
  # Automatic operation (UTC time)
  schedule:
    - cron: '0 0 * * *'
*/

# Define workflow tasks
jobs:
  algolia:
    # Operation Environment
    runs-on: ubuntu-latest
    steps:
      # Check out the code repository
      - uses: actions/checkout@v3

      # Install the jq tool for handling JSON.
      - name: Install jq
        run: sudo apt-get install jq

      # Verify the existence of the configuration file
      - name: Validate docsearch.json exists
        run: |
          if [ ! -f "docsearch.json" ]; then
            echo "docsearch.json not found!"
            exit 1
          fi

      # Read and set the Algolia configuration
      - name: Get the content of docsearch.json as config
        id: algolia_config
        run: echo "config=$(cat docsearch.json | jq -r tostring)" >> $GITHUB_OUTPUT

      # Run the DocSearch crawler
      - name: Run algolia/docsearch-scraper image
        env:
          # Obtain the Algolia credentials from secrets
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          CONFIG: ${{ steps.algolia_config.outputs.config }}
        run: |
          echo "Starting DocSearch scraper..."
          docker run \
            --env APPLICATION_ID=${ALGOLIA_APP_ID} \
            --env API_KEY=${ALGOLIA_API_KEY} \
            --env "CONFIG=${CONFIG}" \
            algolia/docsearch-scraper
          echo "DocSearch scraper completed successfully."
